{% extends 'shared.html' %}

{% block shared_style %}
<link rel="stylesheet" href="{{url_for('static',filename='custom/css/layout.css')}}">

{% block page_style %}{% endblock %}
{% endblock %}

{% block shared_body %}
<div class="hero">
  <div class="hero-bg"></div>
  <div class="hero-overlay"></div>
</div>

{% set nav_links = [
{"name":"Home","route":"views.home"},
{"name":"About","route":"views.about"},
{"name":"Contact","route":"views.contact"},
{"name":"Terms","route":"views.terms"},
{"name":"Privacy","route":"views.privacy"},
] %}
{% if session.user %}
{% set nav_links = [{"name":"Menu","route":"user.menu"}] + nav_links %}
{% if session.user.roles %}
{% if 'admin' in session.user.roles %}
{% set nav_links = nav_links + [{"name":"Manager","route":"manager.dashboard"}] %}
{% endif %}
{% endif %}
{% endif %}

<nav class="navbar navbar-expand-xl py-3">
  <div class="container-fluid flex-nowrap">
    <a class="navbar-brand fs-3 me-0 me-md-4 d-flex flex-nowrap align-items-center gap-2" href="/">
      <img src="{{url_for('static',filename='img/logo.png')}}" width="48px">
      <span class="fw-bold text-wrap text-custom-gradient">{{website_info.name_short}}</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#nav-mob">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <div class="navbar-nav gap-3">
        {% for nav_link in nav_links %}
        {% if nav_title == nav_link.name %}
        <a class="nav-link active">{{nav_link.name}}</a>
        {% else %}
        <a class="nav-link" href="{{url_for(nav_link.route)}}">{{nav_link.name}}</a>
        {% endif %}
        {% endfor %}
      </div>

      <div class="ms-auto d-flex align-items-center gap-2">
        {% if session.user %}
        <p class="m-0 me-3 text-warning"><i class="bi bi-coin me-2"></i>{{session.user.credits}}</p>
        <p class="m-0">Welcome, {{session.user.username}}</p>
        <form action="{{url_for('auth.logout')}}" method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <button class="btn btn-dark border-0 p-2 px-4 rounded-5" type="submit">Logout</button>
        </form>
        {% else %}
        <a class="btn btn-dark border-0 p-2 px-4 rounded-5" href="{{url_for('auth.login')}}">Login</a>
        <a class="btn btn-custom p-2 px-4 fw-semibold border-0 rounded-5" href="{{url_for('auth.register')}}">Sign
          Up</a>
        {% endif %}
      </div>

    </div>
  </div>
</nav>

<div class="offcanvas offcanvas-start" id="nav-mob">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Mess Manager</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body">
    <nav class="nav nav-pills flex-column gap-3 fs-3">
      {% if session.user %}
      <p class="fs-6 m-0 me-3 text-warning"><i class="bi bi-coin me-2"></i>My credits: {{session.user.credits}}</p>
      <hr class="my-0">
      {% endif %}
      {% for nav_link in nav_links %}
      {% if nav_title == nav_link.name %}
      <a class="nav-link active bg-custom-gradient text-dark">{{nav_link.name}}</a>
      {% else %}
      <a class="nav-link text-secondary" href="{{url_for(nav_link.route)}}">{{nav_link.name}}</a>
      {% endif %}
      {% endfor %}

      {% if session.user %}
      <hr class="my-0">
      <form action="{{url_for('auth.logout')}}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <button class="btn w-100 btn-lg btn-dark border-0 p-2 px-4 rounded-5" type="submit">Logout</button>
      </form>
      {% endif %}
    </nav>
  </div>
</div>

{% block page_body %}{% endblock %}
{% endblock %}

{% block shared_script %}
{% block page_script %}{% endblock %}
{% endblock %}