{% extends 'manager/layout.html' %}
{% set page_title = 'Dashboard' %}
{% set nav_title = 'Dashboard' %}

{% block page_style %}{% endblock %}

{% block page_body %}

<div class="container my-5">
  <h1 class="display-1 mb-5 fw-bold">Dashboard</h1>

  <p class="fs-5 mb-0">Food count: {{data.food_count}}</p>
  <p class="fs-5 mb-5">User count: {{data.user_count}}</p>

  <a class="btn btn-lg btn-custom border-0 p-3 px-5 rounded-5 fw-semibold" href="{{url_for('manager.orders')}}">See Orders</a>
  <a class="btn btn-lg btn-dark border-0 p-3 px-5 rounded-5" href="{{url_for('manager.foods')}}">Manage Foods</a>
  <a class="btn btn-lg btn-dark p-3 px-5 fw-semibold border-0 rounded-5" href="{{url_for('manager.users')}}">
    Manage Users
  </a>
</div>

{% endblock %}

{% block page_script %}{% endblock %}