{% extends 'manager/layout.html' %}
{% set page_title = 'Orders' %}
{% set nav_title = 'Orders' %}

{% block page_style %}{% endblock %}

{% block page_body %}

<div class="container my-5">
  <h1 class="display-1 fw-bold">Orders</h1>

  <table class="table mt-5">
    <thead>
      <tr>
        <th>Image</th>
        <th>Food</th>
        <th>Quantity</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
      {% set food = order.food_info[0] %}
      <tr class="fs-3">
        <td><img src="{{food.image if food}}" width="50px"></td>
        <td>{{food.name if food}}</td>
        <td>{{order.quantity}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}

{% block page_script %}{% endblock %}