@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --color-custom: #28e254;
  --color-custom-rgb: 40, 226, 84;
  --color-custom-dark: #2fe8b0;
  --color-custom-dark-rgb: 47, 232, 176;
}

[data-bs-theme=dark] {
  --bs-body-bg: #1e1e1e;
  --bs-body-bg-rgb: 30, 30, 30;
}

* {
  font-family: 'Poppins', sans-serif;
}

*:focus-visible,
*:focus {
  box-shadow: none !important;
}

::-webkit-scrollbar-track {
  background-color: var(--bs-dark);
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-custom-rgb), .5);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(var(--color-custom-rgb), .75);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgba(var(--color-custom-rgb), 1);
}

::selection {
  background-color: rgba(var(--color-custom-rgb), .75);
  color: #fff;
}

.text-custom {
  --bs-text-opacity: 1;
  color: rgba(var(--color-custom-rgb), var(--bs-text-opacity)) !important;
}

.text-custom-gradient {
  background: linear-gradient(to right, var(--color-custom-dark), var(--color-custom));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link-custom {
  color: rgba(var(--color-custom-dark-rgb), var(--bs-link-opacity, 1)) !important;
  -webkit-text-decoration-color: rgba(var(--bs-info-rgb), var(--bs-link-underline-opacity, 1)) !important;
  text-decoration-color: rgba(var(--color-custom-rgb), var(--bs-link-underline-opacity, 1)) !important;
}

.link-custom:hover {
  color: rgba(var(--color-custom-rgb), var(--bs-link-opacity, 1)) !important;
}

.bg-custom {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--color-custom-rgb), var(--bs-bg-opacity)) !important;
}

.bg-custom-gradient {
  background: linear-gradient(to right, var(--color-custom), var(--color-custom-dark));
}

.btn-custom {
  --bs-btn-color: rgba(0, 0, 0, .9);
  --bs-btn-bg: var(--color-custom);
  --bs-btn-border-color: var(--color-custom);
  --bs-btn-hover-color: rgba(0, 0, 0, .9);
  --bs-btn-hover-bg: var(--color-custom-dark);
  --bs-btn-hover-border-color: var(--color-custom-dark);
  --bs-btn-focus-shadow-rgb: 211, 212, 213;
  --bs-btn-active-color: rgba(0, 0, 0, .9);
  --bs-btn-active-bg: var(--color-custom-dark);
  --bs-btn-active-border-color: var(--color-custom-dark);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: rgba(0, 0, 0, .9);
  --bs-btn-disabled-bg: var(--color-custom);
  --bs-btn-disabled-border-color: var(--color-custom);
}

.btn-custom {
  background-size: 200%;
  background-image: linear-gradient(45deg, var(--color-custom-dark), var(--color-custom), var(--color-custom-dark));
  transition: .5s;
}

.btn-custom:hover {
  background-position: right center;
}

.border-custom {
  --bs-border-opacity: 1;
  border-color: rgba(var(--color-custom-rgb), var(--bs-border-opacity)) !important;
}

.fade-in-right.show {
  animation: fade-in-right 500ms ease-in-out 1 normal both;
}

.fade-in-right.hide {
  animation: fade-out-right 500ms ease-in-out 1 normal both;
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-out-right {
  0% {
    opacity: 1;
    transform: translateX(0);
    display: block;
  }

  100% {
    opacity: 0;
    transform: translateX(50px);
  }
}